[Unit]
Description=login into ecnu network

[Service]
Type=oneshot
ExecStart=/home/xxx/ecnu_login.sh
User=alkaid
StandardOutput=journal
StandardError=inherit
Group=systemd-journal
