[Unit]
Description=login into ecnu network

[Service]
Type=oneshot
WorkingDirectory=/path/to/ecnu_login/
ExecStart=sh ./ecnu_login.sh
User=alkaid
StandardOutput=journal
StandardError=inherit
Group=systemd-journal
